.container h2 {
    text-decoration-line: underline;
  }

  article img{
    border-style: double;
    border-color: black;
  }


 figure {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

figure img {
    display: block;
    margin: 0 auto;
}

  figcaption{
    color: blue;
    font-style: italic;
    text-align: center;
  }

  footer {
    border-top: 1.5px solid #000;
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
    padding: 10px 0;
    
}
